@use "../custom" as *;

#formation {
	padding: 5rem 0;
	// border: solid blue 1px;
  font-family: Assistant, sans-serif;
	.description-formation {
		.title-formation {
			border-bottom: solid $primary 2px;
			color: $primary;
		}
		p {
			padding: 15px;
			a {
				text-decoration: none;
				color: $primary;
			}
		}
	}
	.description-experience {
		.barre {
			border: solid rgba(0, 0, 0, 0.1) 1px;
			background-color: rgba(0, 0, 0, 0.1);
			border-radius: 2.4rem;
			height: 16px;
			width: 100%;
			#barre-angular {
				background-color: $secondary;
				width: 90%;
			}
			#barre-node {
				background-color: $secondary;
				width: 90%;
			}
			#barre-docker {
				background-color: $secondary;
				width: 70%;
			}
			#barre-react {
				background-color: $secondary;
				width: 50%;
			}
			#barre-python {
				background-color: $secondary;
				width: 60%;
			}
			#barre-linux {
				background-color: $secondary;
				width: 100%;
			}
		}
		p {
			padding: 15px;
			i {
				font-size: 1.2rem;
				&.fa-bootstrap {
					color: #0a66c2;
				}
				&.fa-sass {
					color: #f83d9a;
				}
			}
		}
	}
}
