@use "../custom" as *;
@use "../components/mixins" as *;
@use "../components/animation" as *;
.intro-section {
  @include gradiant;
  padding: 7rem 0 0 0;
  width: 100%;
  height: 80%;
}

.intros {
  .video-box {
    position: relative;
    a {
      @include absoluteCenter;
      span {
        i {
          font-size: 3rem;
          color: $primary;
        }
      }
    }
  }
}

.border-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  border: 0.6rem solid $white;
  border-radius: 50%;
  animation: move-border 1.5s linear infinite;
  & .border-1 {
    animation-delay: 1s;
  }
  & .border-2 {
    animation-delay: 1.5s;
  }
  //   &:hover {
  //     animation: move-border 1ms linear infinite;
  //   }
}

// .border-animation::after{
//     content : "";
//     position : absolute ;
//     bottom: 0;
//     right : 0;
//     width : 3rem;
//     height : 3rem;
//     border : solid $black 0.55rem;
//     border-top : none ;
//     transform: rotate(45deg);
// }
