@use "../custom";

//TOUCHER LE BOUTON

@keyframes move-border {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0.1;
  }
}

@keyframes image-nav-animation {
  100% {
    transform: rotate(360deg);
  }
}
